header{
    a{
        text-decoration: none;
        color: white;
    }
    background-color: $bgHeader;
   .logo{
       img{
          margin-top: 10px;
       }
   }

    h1{
        color:$blanco;
        text-align: center;
     
    }

   .social{
        @include iconSocial(1.5em,$colorCiencia);
        text-align: right;    
        a{
            color: $verde;
        }
        a:hover{
            color: white;
        }
    }
}