//variable colores
$verde:  #C7F464;
$rojo: #FF6B6B;
$rojoDark: #C44D58;
$dark: #556270;
$azul: #4ECDC4; 
$blanco: #FFFFFF;
$gris: rgba(252, 252, 252, 0.747);

$bgHeader: $dark;
$colorCiencia: $verde;
$colorTecnologia: $azul;
$colorGaming: $rojo;
$bgTag:$rojoDark;